torch
torchvision
torchaudio
torchsde
einops
transformers>=4.49.0
tokenizers>=0.13.3
sentencepiece
safetensors>=0.3.0
aiohttp
accelerate>=1.1.1
pyyaml
Pillow
scipy
tqdm
psutil
spandrel
soundfile
kornia>=0.7.1
websocket-client==1.6.3
diffusers>=0.31.0
av>=14.2.0
comfyui-frontend-package==1.20.7
comfyui-workflow-templates==0.1.20
dill
webcolors
albumentations
pydantic~=2.0
cmake
imageio
joblib
matplotlib
pilgram
scikit-learn
rembg
numba
pandas
numexpr
insightface
onnx
segment-anything
piexif
ultralytics!=8.0.177
timm
importlib_metadata
opencv-python-headless>=4.0.1.24
filelock
numpy
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
librosa
color-matcher
facexlib
open-clip-torch>=2.24.0
pytorch-lightning>=2.2.1
huggingface_hub[hf-transfer]
iopath
